.idea/.gitignore
.idea/CineHub-SpringBoot-ReactJS.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
backend/.idea/.gitignore
backend/.idea/compiler.xml
backend/.idea/encodings.xml
backend/.idea/jarRepositories.xml
backend/.idea/misc.xml
backend/.idea/uiDesigner.xml
backend/.idea/vcs.xml
backend/.idea/CoverUsage.xml
backend/.idea/dataSources.xml
backend/.idea/sonarlint/issuestore/index.pb
backend/.idea/sonarlint/issuestore/1/0/10223bbc6c0d62275b0af79cde5913fe4b6196dc
backend/.idea/sonarlint/issuestore/1/b/1bbd6c568783ad1c806933bf4b4c8f2571694223
backend/.idea/sonarlint/issuestore/1/f/1f970c1c994081582d6a4ab1a3b9ae7c88f15846
backend/.idea/sonarlint/issuestore/2/3/23b03173b4c29712882f5e4b2db8035bd5c11bca
backend/.idea/sonarlint/issuestore/2/b/2b49fab4b958adfd5dc22385cf2b973d6ce30011
backend/.idea/sonarlint/issuestore/2/c/2c430c0d7d8906dcb2033201d6e87d441e0eed8d
backend/.idea/sonarlint/issuestore/3/7/37025210e554ac43f12efab505a8c66903c2d896
backend/.idea/sonarlint/issuestore/3/9/39c89c96e338a65c46ac7f40b2ea9fc64be5def6
backend/.idea/sonarlint/issuestore/4/2/42ccef7a8f924b02e9a464b0fb0e33cdc147bb44
backend/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
backend/.idea/sonarlint/issuestore/4/5/4503e983cdb219f8da112e08e0e87594b1cbf549
backend/.idea/sonarlint/issuestore/4/6/46a35e92deb0bb0ee397403cc2323fdc4b5f70f2
backend/.idea/sonarlint/issuestore/6/a/6a832aa6b25790c71763e455588bcdd86c37085a
backend/.idea/sonarlint/issuestore/6/d/6d9514ce12a766049f33001c50a3066555db55b7
backend/.idea/sonarlint/issuestore/7/9/7965ac9b60f103174cf76877f0fdda4e9337eb30
backend/.idea/sonarlint/issuestore/8/a/8adb8106804380696354f39bb81a5923481ea476
backend/.idea/sonarlint/issuestore/8/c/8cd47b47fd62f2c3f456b922c2d5de42906f6d85
backend/.idea/sonarlint/issuestore/8/c/8cd738bf3fcd1595c5dda07a5ec1a879a2687d1b
backend/.idea/sonarlint/issuestore/9/3/933c5846ad33868af15603d390f8dffc96271b58
backend/.idea/sonarlint/issuestore/a/1/a1fea3e76fdddd2c7c48db27e1eb1522618a05af
backend/.idea/sonarlint/issuestore/a/3/a36de4f5cb05554ac1a2ef48e7101681a8250d70
backend/.idea/sonarlint/issuestore/a/3/a313ea9cfe0e5e68baf6737e04344db6a04fa1fa
backend/.idea/sonarlint/issuestore/a/7/a7756ca9eb3b0dbda7244875736b422b330bcd66
backend/.idea/sonarlint/issuestore/d/1/d1a2e08196bfca49b187f5eb319934411498af8d
backend/.idea/sonarlint/issuestore/e/c/ec329bee992632599be97ac6af2fb0b0f2e5d73e
backend/.idea/sonarlint/issuestore/f/9/f9de38d8f9b112c995ba348a1aa834af2626f1e3
backend/.idea/sonarlint/securityhotspotstore/index.pb
backend/.idea/sonarlint/securityhotspotstore/1/0/10223bbc6c0d62275b0af79cde5913fe4b6196dc
backend/.idea/sonarlint/securityhotspotstore/1/b/1bbd6c568783ad1c806933bf4b4c8f2571694223
backend/.idea/sonarlint/securityhotspotstore/1/f/1f970c1c994081582d6a4ab1a3b9ae7c88f15846
backend/.idea/sonarlint/securityhotspotstore/2/3/23b03173b4c29712882f5e4b2db8035bd5c11bca
backend/.idea/sonarlint/securityhotspotstore/2/b/2b49fab4b958adfd5dc22385cf2b973d6ce30011
backend/.idea/sonarlint/securityhotspotstore/2/c/2c430c0d7d8906dcb2033201d6e87d441e0eed8d
backend/.idea/sonarlint/securityhotspotstore/3/7/37025210e554ac43f12efab505a8c66903c2d896
backend/.idea/sonarlint/securityhotspotstore/3/9/39c89c96e338a65c46ac7f40b2ea9fc64be5def6
backend/.idea/sonarlint/securityhotspotstore/4/2/42ccef7a8f924b02e9a464b0fb0e33cdc147bb44
backend/.idea/sonarlint/securityhotspotstore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
backend/.idea/sonarlint/securityhotspotstore/4/5/4503e983cdb219f8da112e08e0e87594b1cbf549
backend/.idea/sonarlint/securityhotspotstore/4/6/46a35e92deb0bb0ee397403cc2323fdc4b5f70f2
backend/.idea/sonarlint/securityhotspotstore/6/a/6a832aa6b25790c71763e455588bcdd86c37085a
backend/.idea/sonarlint/securityhotspotstore/6/d/6d9514ce12a766049f33001c50a3066555db55b7
backend/.idea/sonarlint/securityhotspotstore/7/9/7965ac9b60f103174cf76877f0fdda4e9337eb30
backend/.idea/sonarlint/securityhotspotstore/8/a/8adb8106804380696354f39bb81a5923481ea476
backend/.idea/sonarlint/securityhotspotstore/8/c/8cd47b47fd62f2c3f456b922c2d5de42906f6d85
backend/.idea/sonarlint/securityhotspotstore/8/c/8cd738bf3fcd1595c5dda07a5ec1a879a2687d1b
backend/.idea/sonarlint/securityhotspotstore/9/3/933c5846ad33868af15603d390f8dffc96271b58
backend/.idea/sonarlint/securityhotspotstore/a/1/a1fea3e76fdddd2c7c48db27e1eb1522618a05af
backend/.idea/sonarlint/securityhotspotstore/a/3/a36de4f5cb05554ac1a2ef48e7101681a8250d70
backend/.idea/sonarlint/securityhotspotstore/a/3/a313ea9cfe0e5e68baf6737e04344db6a04fa1fa
backend/.idea/sonarlint/securityhotspotstore/a/7/a7756ca9eb3b0dbda7244875736b422b330bcd66
backend/.idea/sonarlint/securityhotspotstore/d/1/d1a2e08196bfca49b187f5eb319934411498af8d
backend/.idea/sonarlint/securityhotspotstore/e/c/ec329bee992632599be97ac6af2fb0b0f2e5d73e
backend/.idea/sonarlint/securityhotspotstore/f/9/f9de38d8f9b112c995ba348a1aa834af2626f1e3
backend/target/classes/application-dev.yml
backend/target/classes/application.yml
backend/target/classes/movies.json
backend/target/classes/com/pedrycz/cinehub/ApplicationExceptionHandler.class
backend/target/classes/com/pedrycz/cinehub/CineHubApplication.class
backend/target/classes/com/pedrycz/cinehub/MovieCollectionInitializer.class
backend/target/classes/com/pedrycz/cinehub/batch/BsonMovieObjectReader.class
backend/target/classes/com/pedrycz/cinehub/batch/DatabaseInitJobConfiguration.class
backend/target/classes/com/pedrycz/cinehub/batch/MovieItemWriter.class
backend/target/classes/com/pedrycz/cinehub/config/ApplicationConfiguration.class
backend/target/classes/com/pedrycz/cinehub/config/ApplicationConfiguration$1.class
backend/target/classes/com/pedrycz/cinehub/config/MinioConfiguration.class
backend/target/classes/com/pedrycz/cinehub/config/OpenApiConfiguration.class
backend/target/classes/com/pedrycz/cinehub/config/SecurityConfiguration.class
backend/target/classes/com/pedrycz/cinehub/controllers/AuthenticationController.class
backend/target/classes/com/pedrycz/cinehub/controllers/GetParams.class
backend/target/classes/com/pedrycz/cinehub/controllers/MovieController.class
backend/target/classes/com/pedrycz/cinehub/controllers/PosterController.class
backend/target/classes/com/pedrycz/cinehub/controllers/ReviewController.class
backend/target/classes/com/pedrycz/cinehub/controllers/UserController.class
backend/target/classes/com/pedrycz/cinehub/exceptions/BadFileException.class
backend/target/classes/com/pedrycz/cinehub/exceptions/DocumentNotFoundException.class
backend/target/classes/com/pedrycz/cinehub/exceptions/ErrorResponse.class
backend/target/classes/com/pedrycz/cinehub/exceptions/IllegalParamTypeException.class
backend/target/classes/com/pedrycz/cinehub/exceptions/IncompleteDocumentException.class
backend/target/classes/com/pedrycz/cinehub/exceptions/PageNotFoundException.class
backend/target/classes/com/pedrycz/cinehub/exceptions/PosterNotFoundException.class
backend/target/classes/com/pedrycz/cinehub/exceptions/ReviewAlreadyExistsException.class
backend/target/classes/com/pedrycz/cinehub/exceptions/ReviewNotOwnedException.class
backend/target/classes/com/pedrycz/cinehub/helpers/Constants.class
backend/target/classes/com/pedrycz/cinehub/helpers/SortUtils.class
backend/target/classes/com/pedrycz/cinehub/model/GetByParam.class
backend/target/classes/com/pedrycz/cinehub/model/dto/movie/AddMovieDTO.class
backend/target/classes/com/pedrycz/cinehub/model/dto/movie/MovieDTO.class
backend/target/classes/com/pedrycz/cinehub/model/dto/movie/SimpleMovieDTO.class
backend/target/classes/com/pedrycz/cinehub/model/dto/review/ReviewDTO.class
backend/target/classes/com/pedrycz/cinehub/model/dto/review/ReviewWithMovieDTO.class
backend/target/classes/com/pedrycz/cinehub/model/dto/user/UserInfoDTO.class
backend/target/classes/com/pedrycz/cinehub/model/dto/user/UserLoginDTO.class
backend/target/classes/com/pedrycz/cinehub/model/dto/user/UserRegisterDTO.class
backend/target/classes/com/pedrycz/cinehub/model/entities/Movie.class
backend/target/classes/com/pedrycz/cinehub/model/entities/Review.class
backend/target/classes/com/pedrycz/cinehub/model/entities/User.class
backend/target/classes/com/pedrycz/cinehub/model/entities/User$UserBuilder.class
backend/target/classes/com/pedrycz/cinehub/model/enums/GetByParamName.class
backend/target/classes/com/pedrycz/cinehub/model/enums/GetMovieByParamName.class
backend/target/classes/com/pedrycz/cinehub/model/enums/GetReviewByParamName.class
backend/target/classes/com/pedrycz/cinehub/model/enums/Role.class
backend/target/classes/com/pedrycz/cinehub/model/mappers/MovieToMovieDTOMapper.class
backend/target/classes/com/pedrycz/cinehub/model/mappers/MovieToMovieDTOMapperImpl.class
backend/target/classes/com/pedrycz/cinehub/model/mappers/MovieToSimpleMovieDTOMapper.class
backend/target/classes/com/pedrycz/cinehub/model/mappers/MovieToSimpleMovieDTOMapperImpl.class
backend/target/classes/com/pedrycz/cinehub/model/mappers/ReviewToReviewDTOMapper.class
backend/target/classes/com/pedrycz/cinehub/model/mappers/ReviewToReviewDTOMapperImpl.class
backend/target/classes/com/pedrycz/cinehub/model/mappers/ReviewWithMovieDTOMapper.class
backend/target/classes/com/pedrycz/cinehub/model/mappers/ReviewWithMovieDTOMapperImpl.class
backend/target/classes/com/pedrycz/cinehub/model/mappers/UserToUserInfoDTOMapper.class
backend/target/classes/com/pedrycz/cinehub/model/mappers/UserToUserInfoDTOMapperImpl.class
backend/target/classes/com/pedrycz/cinehub/repositories/MovieRepository.class
backend/target/classes/com/pedrycz/cinehub/repositories/ReviewRepository.class
backend/target/classes/com/pedrycz/cinehub/repositories/UserRepository.class
backend/target/classes/com/pedrycz/cinehub/security/AuthenticationResponse.class
backend/target/classes/com/pedrycz/cinehub/security/ExceptionFilter.class
backend/target/classes/com/pedrycz/cinehub/security/JwtAuthenticationFilter.class
backend/target/classes/com/pedrycz/cinehub/security/JwtService.class
backend/target/classes/com/pedrycz/cinehub/security/SecurityConstants.class
backend/target/classes/com/pedrycz/cinehub/services/AuthenticationService.class
backend/target/classes/com/pedrycz/cinehub/services/MovieServiceImpl.class
backend/target/classes/com/pedrycz/cinehub/services/MovieServiceImpl$1.class
backend/target/classes/com/pedrycz/cinehub/services/PosterServiceImpl.class
backend/target/classes/com/pedrycz/cinehub/services/UserServiceImpl.class
backend/target/classes/com/pedrycz/cinehub/services/interfaces/MovieService.class
backend/target/classes/com/pedrycz/cinehub/services/interfaces/PosterService.class
backend/target/classes/com/pedrycz/cinehub/services/interfaces/ReviewService.class
backend/target/classes/com/pedrycz/cinehub/services/interfaces/UserService.class
backend/target/classes/com/pedrycz/cinehub/services/review/ReviewServiceImpl.class
backend/target/classes/com/pedrycz/cinehub/services/review/ReviewServiceImpl$1.class
backend/target/classes/com/pedrycz/cinehub/validation/Nickname.class
backend/target/classes/com/pedrycz/cinehub/validation/NicknameValidator.class
backend/target/classes/com/pedrycz/cinehub/validation/Password.class
backend/target/classes/com/pedrycz/cinehub/validation/PasswordValidator.class
backend/target/classes/com/pedrycz/cinehub/validation/UniqueEmail.class
backend/target/classes/com/pedrycz/cinehub/validation/UniqueEmailValidator.class
backend/target/generated-sources/annotations/com/pedrycz/cinehub/model/mappers/MovieToMovieDTOMapperImpl.java
backend/target/generated-sources/annotations/com/pedrycz/cinehub/model/mappers/MovieToSimpleMovieDTOMapperImpl.java
backend/target/generated-sources/annotations/com/pedrycz/cinehub/model/mappers/ReviewToReviewDTOMapperImpl.java
backend/target/generated-sources/annotations/com/pedrycz/cinehub/model/mappers/ReviewWithMovieDTOMapperImpl.java
backend/target/generated-sources/annotations/com/pedrycz/cinehub/model/mappers/UserToUserInfoDTOMapperImpl.java
backend/target/test-classes/application.yml
backend/target/test-classes/com/pedrycz/cinehub/CinehubApplicationTests.class
backend/target/test-classes/com/pedrycz/cinehub/unit/UserServiceTest.class
frontend/package-lock.json
backend/target/classes/com/pedrycz/cinehub/services/BadWordsCleaningService.class
backend/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
backend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
backend/target/classes/com/pedrycz/cinehub/DatabaseInitializer.class
backend/target/classes/com/pedrycz/cinehub/batch/bad_words_cleaning_job/BadWordsCleaningJobConfiguration.class
backend/target/classes/com/pedrycz/cinehub/batch/bad_words_cleaning_job/ReviewItemProcessor.class
backend/target/classes/com/pedrycz/cinehub/batch/init_database_job/BsonMovieObjectReader.class
backend/target/classes/com/pedrycz/cinehub/batch/init_database_job/DatabaseInitJobConfiguration.class
backend/target/classes/com/pedrycz/cinehub/config/SecurityConfiguration$1.class
backend/target/classes/com/pedrycz/cinehub/controllers/SortParams.class
backend/target/classes/com/pedrycz/cinehub/exceptions/RoleNotFoundException.class
backend/target/classes/com/pedrycz/cinehub/helpers/MovieSpecifications.class
backend/target/classes/com/pedrycz/cinehub/helpers/ReviewSpecifications.class
backend/target/classes/com/pedrycz/cinehub/model/MovieQueryParams.class
backend/target/classes/com/pedrycz/cinehub/model/MovieQueryParams$MovieQueryParamsBuilder.class
backend/target/classes/com/pedrycz/cinehub/model/ReviewQueryParams.class
backend/target/classes/com/pedrycz/cinehub/model/ReviewQueryParams$ReviewQueryParamsBuilder.class
backend/target/classes/com/pedrycz/cinehub/model/dto/BadWordApiResponseDto.class
backend/target/classes/com/pedrycz/cinehub/model/entities/Role.class
backend/target/classes/com/pedrycz/cinehub/repositories/RoleRepository.class
backend/target/classes/com/pedrycz/cinehub/services/ReviewServiceImpl.class
backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
backend/target/surefire-reports/com.pedrycz.cinehub.CinehubApplicationTests.txt
backend/target/surefire-reports/com.pedrycz.cinehub.unit.UserServiceTest.txt
backend/target/surefire-reports/TEST-com.pedrycz.cinehub.CinehubApplicationTests.xml
backend/target/surefire-reports/TEST-com.pedrycz.cinehub.unit.UserServiceTest.xml
