.movieCard {
    border-radius: 20px;
    border: 0px solid;

    max-width: 380px;
    min-height: 500px;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

