.border_gradient{
    background: linear-gradient(120deg, var(--violet) 40%, var(--light-blue) 100%);
    padding: 2px;
    border: 0px solid;
    border-radius: 15px;
}
.search_module{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border: 0px solid;
    border-radius: 15px;
    background-color: var(--bg-darker);
    transition-duration: 0.3s;
}

.search_module:focus-within,
.search_module:hover {
    background: linear-gradient(120deg, var(--violet) 40%, var(--light-blue) 100%);
}