.footer {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 40px);
    background-color: var(--bg-darker);
    align-items: center;
    justify-content: center;
    padding: 20px;
}